
.card-header {
    background-color: transparent;
    border-bottom: 4px solid rgba(42, 110, 236, 0.3);
    padding: 0.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.table-wrap {
    max-height: 500px;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /*background-color:white;*/
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(21, 62, 70);
    border-radius: 10px
}
.alert {
    position: relative;
}

.btn-close {
    position: absolute;
    top: 7px;
    right: 36px;
    transform: translate(50%, 50%);
}
